.container {
    gap: 10px 10px;
    display : grid; 
    align-items: center;
    grid-template-areas: 
    "header"
    "nav"
    "sidebar"
    "content"
    "footer";
}

@media (min-width: 500px) {
.container {
    gap: 10px 10px;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header   header"
      "nav         nav"
      "sidebar content"
      "footer   footer";
  }
}
.header {
  grid-area : header;
  color : white;
}
.nav {
  grid-area : nav;
}
.content {
  grid-area : content;
}
.sidebar {
  grid-area : sidebar;
}
.footer {
  grid-area : footer;
}

body {
  background-color: black;
  font-family: 'Roboto', ;
}
p {
  color : gray;
  overflow-wrap: break-word;
}
a {
  color : rgba(29, 142, 194, 0.753);
}
img {
  max-width: 100%;
  max-height: 100vh; 
}